
/* Default font and background color of the page */

body {
  font-family: arial;
  color: lightgrey;
  background-color: #070707;
  margin: 100px auto 150px auto;
}


/* Style of the gear lists */

.main-gear {
  grid-area: main-gear;
  width: 350px;
  background-color: #070707;
  padding: 20px 25px 20px 25px;
}

.compact-gear {
  grid-area: compact-gear;
  width: 350px;
  background-color: #070707;
  padding: 20px 25px 20px 25px;
}

.especial-gear {
  grid-area: especial-gear;
  width: 350px;
  background-color: #070707;
  padding: 0px 25px 20px 25px;
}

.camera-support {
  grid-area: camera-support;
  width: 350px;
  background-color: #070707;
  padding: 0px 25px 20px 25px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: lightgrey;
  border-style: none none solid none;
  border-color: lightgrey;
  border-width: thin;
  margin-bottom: 20px;
  padding-bottom: 7px;
}

p.gear-type {
  font-size: 14px;
  font-weight: bold;
  color: lightgrey;
  margin-top: 24px;
  margin-bottom: -3px;
}

p.gear-item {
  font-size: 14px;
  line-height: 0.5;
}


/* Page layout */

.grid-container {
  display: grid;
  grid-template-areas:
  'main-gear compact-gear'
  'main-gear camera-support'
  'especial-gear camera-support';
  grid-gap: 40px;
  justify-content: center;
  background-color: #070707;
  width: 100%
}
