body {
  color: grey;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

p.title {
  color: black;
  font-weight: bold;
  line-height: 0.0;
}

a:link {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: underline;
}

a:visited {
  color: grey;
  text-decoration: none;
}

.header {
  grid-area: header;
  width: 859px;
  font-size: 50px;
  text-align: left;
  border-bottom-style: solid;
  border-color: black;
  border-width: 1px;
}

.main {
  grid-area: main;
  width: 600px;
  font-size: 20px;
  text-align: justify;
  padding-top: 25px;
  padding-bottom: 50px;
}

.panel {
  grid-area: panel;
  width: 250px;
  padding-top: 0px;
  padding-left: 20px;
}

.footer {
  grid-area: footer;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 50px;
  color: grey;
  font-size: 10px;
  line-height: 1.2;
  text-align: left;
  border-top-style: none;
  border-color: lightgrey;
  border-width: 1px;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header header'
  'main panel'
  'main panel'
  'footer footer';
  grid-gap: 20px;
  justify-content: center;
  background-color: #FFFFFF;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-left: 28px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Ubuntu;
}

@media screen and (max-width:900px), (orientation: portrait)  {

  .header {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .panel {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer {
    padding-top: 0px;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer'
    'panel';
    grid-gap: 20px;
    justify-content: center;
    background-color: #FFFFFF;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

}
